/* Displays the copyright and contact information in the footer on larger screens. */
@media only screen and (min-height: 601px) {
    #copyright_small {
        display: none;
    }

    #footer {
        height: 180px;
    }

    #content {
        bottom: 180px;
    }
}

/* Displays the link to open the copyright and contact information modal on smaller screens. */
@media only screen and (max-height: 600px) {
    #copyright_footer {
        display: none;
    }

    #footer {
        height: 60px;
    }

    #content {
        bottom: 60px;
    }
}

/* Hides the brand name in the navigation bar on smaller screens. */
@media only screen and (max-width: 1200px) {
    #brand {
        display: none;
    }
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    z-index: 99999;
}

#content {
    flex-grow: 1;
    max-width: 100%;
    margin: 0;
    background-color: #f3f3f3;
}

.inside {
    max-width: 80rem;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
}

.align-vcenter {
    margin-top: auto;
    margin-bottom: auto;
}

#footer {
    text-align: center;
    background-color: #212529;
    color: white;
    margin: 0;
    padding-top: 1%;
}

.link,
.link:hover {
    text-decoration: none;
    color: #ffa600;
    margin: 1%;
}

.no_decoration,
.no_decoration:hover {
    text-decoration: none;
    color: black;
    margin: 1%;
}

.no_decoration:hover {
    cursor: pointer;
}

.no_decoration_margin,
.no_decoration_margin:hover {
    text-decoration: none;
    color: black;
}

.navbar-brand {
    margin: 1%;
}

.nav-item .fa-user-circle {
    color: white;
}

#open_copyright {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999;
    width: max-content;
    height: max-content;
    overflow-y: auto;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999;
    max-width: 600px;
    max-height: 80%;
    height: max-content;
    overflow-y: auto;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
}

.modal-content {
    padding: 3%;
    background-color: aliceblue;
}

.close {
    color: red;
    text-align: end;
    font-size: 1.5em;
    cursor: pointer;
}

#contact_info {
    text-align: center;
}

.validation {
    color: red;
}

.btn-link,
.btn-link:hover,
.btn-link:active {
    color: white;
    text-decoration: none;
}

.vw-90 {
    width: 90vw;
}

pre {
    padding: 2px;
    font-size: 105% !important;
    border-radius: 6px;
    background-color: #999999;
}

pre code {
    font-size: 100% !important;
}

code {
    font-family: "Fira Code", Consolas, monospace;
    padding: 2px;
    font-size: 105% !important;
    border-radius: 6px;
    background-color: #999999;
}

#blocklyArea {
    width: 80vw;
    height: 63vh;
    max-width: 72rem;
    max-height: 72rem;
}

#searchResults {
    position: absolute;
    width: 33%;
}

#slider {
    height: 20px;
}

#slider .noUi-connect {
    background: #f3f3f3;
}

#slider .noUi-handle {
    height: 36px;
    width: 36px;
    top: -10px;
    right: -18px;
    border-radius: 18px;
    background: #0d6efd;
    border: 5px;
}

/* Used for <span>-attributes that convey the meaning of Font Awesome icons for screen readers. */
.sr-only {
    visibility: hidden;
}


/* responsive style overwrites */

.profile-info .col-3,
.profile-info .col-9 {
    width: max-content;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

/* make tables responsive */
.table-container {
    overflow-x: auto;
}
