body {
    overflow-x: hidden;
    height: 100vh;
}

#header {
    height: 10vh;
}

#content {
    overflow-y: scroll;
    height: 80vh;
}

.col-sm-2 {
    background-color: #f3f3f3;
}

.col-sm-8 {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.08);
    padding: 1%;
}

#footer {
    text-align: center;
    background-color: #212529;
    color: white;
    margin: 0;
    padding: 1%;
    height: 10vh;
}