/* Displays the copyright and contact information in the footer on larger screens. */
@media only screen and (min-height: 601px) {
    #copyright_header {
        display: none;
    }

    #footer {
        height: 170px;
    }

    #content {
        bottom: 170px;
    }
}

/* Displays the link to open the copyright and contact information modal on smaller screens. */
@media only screen and (max-height: 600px) {
    #copyright_footer {
        display: none;
    }

    #footer {
        height: 60px;
    }

    #content {
        bottom: 60px;
    }
}

body {
    overflow-x: hidden;
    height: 100%;
}

#header {
    position: absolute;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#content {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.col-sm-2 {
    background-color: #f3f3f3;
}

.col-sm-8 {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.08);
    padding: 1%;
}

.align-vcenter {
    margin-top: auto;
    margin-bottom: auto;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    background-color: #212529;
    color: white;
    margin: 0;
    padding-top: 1%;
}

.link,
.link:hover {
    text-decoration: none;
    color: #ffa600;
    margin: 1%;
}

.navbar-brand {
    margin: 1%;
}

#openCopyright {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999;
    width: max-content;
    height: max-content;
    overflow-y: auto;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .08);
}

.modal-content {
    padding: 0 5%;
    background-color: aliceblue;
}

.close {
    color: red;
    text-align: end;
    font-size: 1.5em;
    cursor: pointer;
}

#contact_info {
    text-align: center;
}
