<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{course_edit_title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/simplemde/dist/simplemde.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Navigation bar -->
<header th:insert="~{header :: header}"></header>

<!-- Page content -->
<div class="container mt-4 mb-4">
    <div class="card">
        <!-- The edit course heading. -->
        <div class="card-header">
            <h5 class="mb-0" th:text="#{edit_course}"></h5>
        </div>

        <div class="card-body p-5">
            <!-- The form for editing or creating a course. -->
            <form th:action="@{/course/update}" th:object="${courseDTO}" th:name="courseDTO" method="post">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{active}">
                <input type="hidden" th:field="*{lastChanged}">

                <!-- The input group for the course title. -->
                <div class="mb-3">
                    <label class="form-label" for="title" th:text="#{title}"></label>
                    <div class="input-group">
                        <input name="title" id="title" type="text" th:placeholder="#{title}"
                               th:maxlength="${T(de.uni_passau.fim.se2.scratchlog.util.Constants).LARGE_FIELD}"
                               th:field="*{title}" th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}"
                               class="form-control" required/>
                    </div>
                    <div class="validation" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                    <div class="form-text" th:text="#{title_max}"></div>
                </div>

                <!-- The input group for the course description. -->
                <div class="mb-3">
                    <label class="form-label" for="description" th:text="#{description}"></label>
                    <div class="input-group">
                        <textarea name="description" id="description" type="text" rows="3"
                                  th:placeholder="#{course_description}"
                                  th:maxlength="${T(de.uni_passau.fim.se2.scratchlog.util.Constants).SMALL_AREA}"
                                  th:field="*{description}" th:classappend="${#fields.hasErrors('description')
                                  ? 'is-invalid' : ''}" class="form-control" required></textarea>
                    </div>
                    <div class="validation" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                    </div>
                    <div class="form-text" th:text="#{description_max}"></div>
                </div>

                <!-- The input group for the course content. -->
                <div class="mb-3 form-group position-relative">
                    <label class="form-label" for="course_content" th:text="#{course_content}"></label>
                    <textarea name="course_content" id="course_content" type="text" rows="10"
                              th:placeholder="#{course_content_placeholder}"
                              th:maxlength="${T(de.uni_passau.fim.se2.scratchlog.util.Constants).LARGE_AREA}"
                              th:field="*{content}" th:class="${#fields.hasErrors('content') ? 'is-invalid' : ''}"
                              autocomplete="off"></textarea>
                    <div class="validation" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                    </div>
                    <div class="form-text" th:text="#{markdown}"></div>
                </div>

                <!-- The submit button. -->
                <div class="text-center mt-4">
                    <input class="btn btn-primary" type="submit" th:value="#{save}"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:insert="~{footer :: footer}"></div>

<script type="text/javascript" th:src="@{/webjars/simplemde/dist/simplemde.min.js}"></script>

<script>
    let simplemde = new SimpleMDE({element: document.getElementById("course_content")});
</script>
</body>
</html>
