<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/static/design/bootstrap.min.css">
    <link rel="stylesheet" href="/static/design/style.css">
</head>
<body>
<!-- Navigation bar -->
<div th:insert="header :: header"></div>

<!-- Page content -->
<div class="row" id="content">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h1>Error</h1>
    </div>
    <div class="col-sm-2"></div>
</div>

<!-- Footer -->
<div th:insert="footer :: footer"></div>
</body>
</html>