<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{footer_title}"></title>
</head>
<body>
<div th:fragment="footer">
    <div id="footer" class="footer">
        <p id="copyright_footer">
            Copyright &copy; 2021
            <span th:text="${T(fim.unipassau.de.scratch1984.util.ApplicationProperties).APPLICATION_NAME}"></span><br>
            <span th:text="#{address}"></span><br>
            <!--Link to the chair's page-->
            <a class="link" href="https://www.fim.uni-passau.de/lehrstuhl-fuer-software-engineering-ii/"
               target="_blank" th:text="#{chair}">
            </a><br>
            Prof. Dr. Gordon Fraser
        </p>
        <span id="copyright_small">
            <a class="link" href="https://www.fim.uni-passau.de/lehrstuhl-fuer-software-engineering-ii/"
               target="_blank" th:utext="#{copyright_uni}"></a>
        </span>
        <!--Link to the university's general legal notice-->
        <a class="link" href="https://www.uni-passau.de/impressum/" target="_blank" th:text="#{legal}"></a>
        <!--Link to the university's general privacy statement-->
        <a class="link" href="https://www.uni-passau.de/datenschutzerklaerung/" target="_blank" th:text="#{privacy}">
        </a>
    </div>
</div>
</body>
</html>