<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div th:fragment="header">

    <!-- The navigation bar containing navigation elements. -->
    <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="col-4">
            <ul class="navbar-nav">
                <li class="navbar-brand" id="brand">
                    <a class="navbar-brand" href="/">Scratch 1984</a>
                </li>
                <li class="nav-item active my-auto">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item my-auto" sec:authorize="hasRole('ADMIN')">
                    <a id="experiment" class="nav-link" href="/experiment/create" th:text="#{new_experiment}"></a>
                </li>
            </ul>
        </div>
        <div class="mx-auto col-4">
            <form action="#" method="post">
                <div class="input-group" sec:authorize="hasRole('ADMIN')">
                    <input class="form-control form-text mt-0" id="username" type="text" th:placeholder="#{search}"
                           th:maxlength="${T(fim.unipassau.de.scratch1984.util.Constants).LARGE_FIELD}"/>
                    <a class="input-group-text btn btn-outline-primary">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </form>
        </div>
        <div class="col-4">
            <ul class="navbar-nav float-end">
                <li class="nav-item active" sec:authorize="isAnonymous()">
                    <a id="login" class="btn btn-link" href="/login">Login</a>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-link" th:href="@{/users/profile}">
                        <span th:text="#{profile}"></span>
                    </a>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('ADMIN')">
                    <form th:action="@{/users/logout}" method="post">
                        <input class="btn btn-link" type="submit" th:value="Logout">
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>