<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div th:fragment="header">

    <!-- The navigation bar containing navigation elements. -->
    <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="col-4">
            <ul class="navbar-nav">
                <li class="navbar-brand" id="brand">
                    <a class="navbar-brand" href="/">Scratch 1984</a>
                </li>
                <li class="nav-item active my-auto">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item my-auto">
                    <a id="copyright_header" class="nav-link" href="#">Copyright</a>
                </li>
                <li class="nav-item my-auto" sec:authorize="hasRole('ADMIN')">
                    <a id="experiment" class="nav-link" href="/experiment/create" th:text="#{new_experiment}"></a>
                </li>
            </ul>
        </div>
        <div class="mx-auto col-4">
            <form action="#" method="post">
                <div class="input-group" sec:authorize="hasRole('ADMIN')">
                    <input class="form-control form-text mt-0" id="username" type="text" maxlength="50"
                           th:placeholder="#{search}"/>
                    <input class="btn btn-outline-primary" type="submit" th:value="#{search}"/>
                </div>
            </form>
        </div>
        <div class="col-4">
            <ul class="navbar-nav float-end">
                <li class="nav-item active" sec:authorize="isAnonymous()">
                    <a id="login" class="btn btn-link" href="/login">Login</a>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('ADMIN')">
                    <form th:action="@{/users/logout}" method="post">
                        <input class="btn btn-link" type="submit" th:value="Logout">
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <!-- The modal showing copyright and contact information on small screens -->
    <div id="openCopyright" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="contact_info">Copyright &copy; 2021 Scratch 1984<br>
                <span th:text="#{address}"></span><br>
                <!--Link to the chair's page-->
                <a class="link" href="https://www.fim.uni-passau.de/lehrstuhl-fuer-software-engineering-ii/"
                   target="_blank" th:text="#{chair}">
                </a><br>
                Prof. Dr. Gordon Fraser</p>
        </div>
    </div>

    <!-- Script to open and close the copyright and contact modal. -->
    <script>
        let modal = document.getElementById("openCopyright");
        let navItem = document.getElementById("copyright_header");
        let span = document.getElementsByClassName("close")[0];
        navItem.onclick = function() {
            let content = document.getElementById("content");
            modal.style.display = "block";
            content.style.filter = "blur(4px)";
        }
        span.onclick = function () {
            let content = document.getElementById("content");
            modal.style.display = "none";
            content.style.filter = "none";
        }
    </script>
</div>
</body>
</html>