<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${T(fim.unipassau.de.scratch1984.util.ApplicationProperties).APPLICATION_NAME}"></title>
    <link rel="stylesheet" th:href="@{/design/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/design/all.min.css}">
    <link rel="stylesheet" th:href="@{/design/style.css}">
</head>
<body>
<!-- Navigation bar -->
<header th:insert="header :: header"></header>

<!-- Page content -->
<div class="row" id="content">
    <div class="inside">

        <!-- The success message shown at the top of the page after a successfully completed operation. -->
        <div class="row" th:if="${param.success != null}">
            <div class="col-12 alert alert-success" th:text="#{success}"></div>
        </div>

        <!-- The information shown at the top of the page if the application has attempted to send an email for password
        reset. -->
        <div class="row" th:if="${param.info != null}">
            <div class="col-12 alert alert-info" th:text="#{reset_info}"></div>
        </div>

        <!-- The error message shown at the top of the page when an error occurs. -->
        <div class="row" th:if="${param.error != null}">
            <div class="col-12 alert alert-danger" th:text="#{error}"></div>
        </div>

        <!-- The standard index page content shown to unauthenticated users. -->
        <div sec:authorize="!hasRole('PARTICIPANT')">
            <h2 class="mb-5" th:text="${T(fim.unipassau.de.scratch1984.util.ApplicationProperties).APPLICATION_NAME}">
            </h2>
            <div class="mx-5" th:text="#{project_info}"></div>
        </div>

        <!-- The course heading and table shown to administrators or participants. -->
        <div sec:authorize="hasRole('PARTICIPANT')">
            <h2 class="mb-5" th:text="#{course_heading}"></h2>
            <!-- The table containing the course information. -->
            <div class="table-container">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" th:text="#{title}"></th>
                        <th scope="col" th:text="#{description}"></th>
                        <th class="text-center" scope="col" th:text="#{status}"></th>
                    </tr>
                    </thead>
                    <tbody th:if="${courses.isEmpty()}">
                    <tr>
                        <td colspan="5" th:text="#{table_empty}"></td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr th:unless="${courses.isEmpty()}" th:each="course : ${courses}">
                        <th scope="row">
                            <a class="no_decoration" th:href="@{/course(id=${course.id})}"
                               th:text="${course.id}"></a>
                        </th>
                        <td>
                            <a class="no_decoration" th:href="@{/course(id=${course.id})}"
                               th:text="${course.title}"></a>
                        </td>
                        <td>
                            <a class="no_decoration" th:href="@{/course(id=${course.id})}"
                               th:text="${course.description}"></a>
                        </td>
                        <td class="text-center">
                            <i aria-hidden="true" th:class="${course.active ? 'fas fa-eye' : 'fas fa-eye-slash'}"
                               title="Experiment active status"></i>
                            <span class="sr-only" th:if="${course.active}" th:text="#{opened}"></span>
                            <span class="sr-only" th:unless="${course.active}" th:text="#{closed}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- The navigation elements below the table. -->
            <div class="text-center" th:unless="${courses.isEmpty()}">
                <a class="btn btn-outline-dark" th:style="${coursePage == 1 ? 'display:none' : ''}" th:href="@{/first}"
                   th:aria-label="#{first_page_label}">
                    <i aria-hidden="true" class="fas fa-angle-double-left"></i>
                </a>
                <a class="btn btn-outline-dark" th:style="${coursePage == 1 ? 'display:none' : ''}"
                   th:href="@{/previous(page=${page})}" th:aria-label="#{previous_page_label}">
                    <i aria-hidden="true" class="fas fa-angle-left"></i>
                </a>
                <a class="btn btn-outline-dark" th:style="${coursePage == lastCoursePage ? 'display:none' : ''}"
                   th:href="@{/next(page=${page})}" th:aria-label="#{next_page_label}">
                    <i aria-hidden="true" class="fas fa-angle-right"></i>
                </a>
                <a class="btn btn-outline-dark" th:style="${coursePage == lastCoursePage ? 'display:none' : ''}"
                   th:href="@{/last}" th:aria-label="#{last_page_label}">
                    <i aria-hidden="true" class="fas fa-angle-double-right"></i>
                </a>
            </div>
        </div>

        <!-- The experiment heading and table shown to administrators or participants. -->
        <div sec:authorize="hasRole('PARTICIPANT')" th:fragment="experiment_table" id="experiment_table">
            <h2 class="mb-5" th:text="#{experiment_heading}"></h2>
            <!-- The table containing the experiment information. -->
            <div class="table-container">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" th:text="#{title}"></th>
                        <th scope="col" th:text="#{description}"></th>
                        <th class="text-center" scope="col" th:text="#{status}"></th>
                    </tr>
                    </thead>
                    <tbody th:if="${experiments.isEmpty()}">
                    <tr>
                        <td colspan="5" th:text="#{table_empty}"></td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr th:unless="${experiments.isEmpty()}" th:each="experiment : ${experiments}">
                        <th scope="row">
                            <a class="no_decoration" th:href="@{/experiment(id=${experiment.id})}"
                               th:text="${experiment.id}"></a>
                        </th>
                        <td>
                            <a class="no_decoration" th:href="@{/experiment(id=${experiment.id})}"
                               th:text="${experiment.title}"></a>
                        </td>
                        <td>
                            <a class="no_decoration" th:href="@{/experiment(id=${experiment.id})}"
                               th:text="${experiment.description}"></a>
                        </td>
                        <td class="text-center">
                            <i aria-hidden="true" th:class="${experiment.active ? 'fas fa-eye' : 'fas fa-eye-slash'}"
                               title="Experiment active status"></i>
                            <span class="sr-only" th:if="${experiment.active}" th:text="#{opened}"></span>
                            <span class="sr-only" th:unless="${experiment.active}" th:text="#{closed}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- The navigation elements below the table. -->
            <div class="text-center" th:unless="${experiments.isEmpty()}">
                <a id="experimentsFirst" class="btn btn-outline-dark"
                   th:style="${experimentPage == 1 ? 'display:none' : ''}" th:aria-label="#{first_page_label}">
                    <i aria-hidden="true" class="fas fa-angle-double-left"></i>
                </a>
                <a id="experimentsPrev" class="btn btn-outline-dark"
                   th:style="${experimentPage == 1 ? 'display:none' : ''}" th:aria-label="#{previous_page_label}">
                    <i aria-hidden="true" class="fas fa-angle-left"></i>
                </a>
                <a id="experimentsNext" class="btn btn-outline-dark"
                   th:style="${experimentPage == lastExperimentPage ? 'display:none' : ''}"
                   th:aria-label="#{next_page_label}">
                    <i aria-hidden="true" class="fas fa-angle-right"></i>
                </a>
                <a id="experimentsLast" class="btn btn-outline-dark"
                   th:style="${experimentPage == lastExperimentPage ? 'display:none' : ''}"
                   th:aria-label="#{last_page_label}">
                    <i aria-hidden="true" class="fas fa-angle-double-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Script to update the experiment and course tables on user interactions with the respective buttons. -->
<script type="text/javascript" th:src="@{/js/startPageTables.js}"></script>
<!-- Let Thymeleaf fetch the current and the last experiment page number. -->
<script>
    let experimentPage = [[${experimentPage}]];
    let lastExperimentPage = [[${lastExperimentPage}]];
</script>

<!-- Footer -->
<div th:insert="footer :: footer"></div>
</body>
</html>
