<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login_title}"></title>
    <link rel="stylesheet" th:href="@{/design/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/design/all.min.css}">
    <link rel="stylesheet" th:href="@{/design/style.css}">
</head>
<body>
<!-- Navigation bar -->
<header th:insert="header :: header"></header>

<!-- Page content -->
<div class="row" id="content">
    <div class="col-2"></div>
    <div class="col-8">

        <!-- The error message shown at the top of the page when an error occurs. -->
        <div class="row" th:style="${error != null ? 'display:block' : 'display:none'}">
            <div class="col-12 alert alert-danger" th:text="${error}"></div>
        </div>

        <!-- The login page heading. -->
        <h2 class="mb-5">Login</h2>

        <div class="text-end" th:if="${T(fim.unipassau.de.scratch1984.util.ApplicationProperties).MAIL_SERVER}">
            <a class="link-secondary" th:text="#{forgot_password}" th:href="@{/reset}"></a>
        </div>

        <!-- The login form. -->
        <form th:action="@{/users/login}" th:object="${userDTO}" th:name="userDTO" method="post">
            <div class="row mx-5">
                <!-- The input group for the username. -->
                <div class="col-12 mb-3 form-group position-relative">
                    <label class="form-label" for="username" th:text="#{username}"></label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i aria-hidden="true" class="fa fa-user" title="Enter username"></i>
                            <span class="sr-only" th:text="#{username}"></span>
                        </span>
                        <input name="username" id="username" type="text" th:placeholder="#{username}"
                               th:maxlength="${T(fim.unipassau.de.scratch1984.util.Constants).SMALL_FIELD}"
                               th:field="*{username}" th:class="${#fields.hasErrors('username')
                               ? 'form-control is-invalid' : 'form-control'}" required/>
                    </div>
                    <div class="validation" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                </div>
                <!-- The input group for the password. -->
                <div class="col-12 mb-5 form-group position-relative">
                    <label class="form-label" for="password" th:text="#{password}"></label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i aria-hidden="true" class="fa fa-key" title="Enter password"></i>
                            <span class="sr-only" th:text="#{password}"></span>
                        </span>
                        <input name="password" id="password" type="password" th:placeholder="#{password}"
                               th:maxlength="${T(fim.unipassau.de.scratch1984.util.Constants).SMALL_FIELD}"
                               th:field="*{password}" th:class="${#fields.hasErrors('password')
                               ? 'form-control is-invalid' : 'form-control'}" required/>
                    </div>
                    <div class="validation" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>
                <!-- The forgot password and submit buttons if the mail server constant is set to true. -->
                <div class="d-flex justify-content-between"
                     th:if="${T(fim.unipassau.de.scratch1984.util.ApplicationProperties).SAML_AUTHENTICATION}">
                    <a class="btn btn-secondary" th:text="#{saml2_login}" th:href="@{/login/saml2}"></a>
                    <input class="btn btn-primary" type="submit" th:value="#{submit}"/>
                </div>
                <!-- The submit button if the mail server constant is set to false. -->
                <div class="text-center"
                     th:unless="${T(fim.unipassau.de.scratch1984.util.ApplicationProperties).SAML_AUTHENTICATION}">
                    <input class="btn btn-primary" type="submit" th:value="#{submit}"/>
                </div>
            </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>

<!-- Footer -->
<div th:insert="footer :: footer"></div>
</body>
</html>
