<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{participant_title}"></title>
    <link rel="stylesheet" th:href="@{/design/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/design/all.min.css}">
    <link rel="stylesheet" th:href="@{/design/style.css}">
</head>
<body>
<!-- Navigation bar -->
<header th:insert="~{header :: header}"></header>

<!-- Page content -->
<div class="row" id="content">
    <div class="inside">

        <!-- The error message shown at the top of the page when an error occurs. -->
        <!--suppress ThymeleafVariablesResolveInspection -->
        <div class="row" th:if="${error != null}">
            <!--suppress ThymeleafVariablesResolveInspection -->
            <div class="col-12 alert alert-danger" th:text="${error}"></div>
        </div>

        <!-- The add participant heading. -->
        <h2 class="mb-3" th:text="#{add_participant}"></h2>

        <!-- The information shown when adding a participant. -->
        <div class="row">
            <div class="col-12 mb-5" th:text="#{participant_info}"></div>
        </div>

        <!-- The form to add a new participant. -->
        <form th:action="@{/participant/add(expId=${experiment})}" th:object="${userDTO}" th:name="userDTO" method="post">
            <div class="row mx-5">
                <!-- The input group for the username. -->
                <div class="col-12 mb-3 form-group position-relative">
                    <label class="form-label" for="username" th:text="#{username}"></label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i aria-hidden="true" class="fa fa-user" title="Enter username"></i>
                            <span class="sr-only" th:text="#{username}"></span>
                        </span>
                        <input name="username" id="username" type="text" th:placeholder="#{username}"
                               th:maxlength="${T(fim.unipassau.de.scratchLog.util.Constants).SMALL_FIELD}"
                               th:field="*{username}" th:class="${#fields.hasErrors('username')
                               ? 'form-control is-invalid' : 'form-control'}" required/>
                    </div>
                    <div class="validation" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                </div>
                <!-- The input group for the email. -->
                <div class="col-12 mb-3 form-group position-relative">
                    <label class="form-label" for="email" th:text="#{email}"></label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i aria-hidden="true" class="fa fa-envelope" title="Enter email"></i>
                            <span class="sr-only" th:text="#{email}"></span>
                        </span>
                        <input name="email" id="email" th:placeholder="#{email}"
                               th:maxlength="${T(fim.unipassau.de.scratchLog.util.Constants).LARGE_FIELD}"
                               th:field="*{email}" th:class="${#fields.hasErrors('email')
                               ? 'form-control is-invalid' : 'form-control'}" required/>
                    </div>
                    <div class="validation" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
                <!-- The selection menu for the language. -->
                <div class="mb-3 form-group position-relative">
                    <label class="form-label" for="language" th:text="#{language}"></label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i aria-hidden="true" class="fa fa-flag" title="Choose language"></i>
                            <span class="sr-only" th:text="#{language}"></span>
                        </span>
                        <select id="language" class="form-select" th:aria-label="#{language}" th:field="*{language}">
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <option th:each="lang : ${T(fim.unipassau.de.scratchLog.util.enums.Language).values()}"
                                    th:value="${lang}" th:text="#{${lang.toString().toLowerCase()}}"></option>
                        </select>
                    </div>
                </div>
                <!-- The submit button. -->
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" th:value="#{save}"/>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Footer -->
<div th:insert="~{footer :: footer}"></div>
</body>
</html>
