<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{add_participants_title}"></title>
    <link rel="stylesheet" th:href="@{/design/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/design/all.min.css}">
    <link rel="stylesheet" th:href="@{/design/style.css}">
</head>
<body>
<!-- Navigation bar -->
<header th:insert="header :: header"></header>

<!-- Page content -->
<div class="row" id="content">
    <div class="inside">
        <!-- The error message shown at the top of the page when some participants couldn't be added. -->
        <div class="row" th:if="${error != null}">
            <div class="col-12 alert alert-warning">
                <div th:text="#{names_exists}"></div>
                <div th:text="${error}"></div>
            </div>
        </div>

        <!-- The add participants page heading. -->
        <h2 class="mb-5" th:text="#{add_participants}"></h2>

        <!-- The information shown on the add participants page -->
        <div class="row">
            <div class="col-12 mb-5" th:text="#{add_participants_info}"></div>
        </div>

        <!-- The form for adding new participants. -->
        <!--/*@thymesVar id="userBulkDTO" type="fim.unipassau.de.scratch1984.web.dto.UserBulkDTO"*/-->
        <form th:action="@{/users/bulk}" th:object="${userBulkDTO}" th:name="userBulkDTO" method="post">
            <!-- The input group for the range. -->
            <div class="mb-3 form-group position-relative">
                <label class="form-label" for="amount" th:text="#{amount}"></label>
                <div class="input-group">
                    <input name="amount" id="amount" class="w-100" type="range" th:field="*{amount}" min="1"
                           th:max="${T(fim.unipassau.de.scratch1984.util.Constants).MAX_ADD_PARTICIPANTS}"/>
                </div>
                <div class="form-text">
                    <span th:text="#{value}"></span>
                    <span id="value"></span>
                </div>
            </div>
            <!-- The input group for the username pattern. -->
            <div class="mb-3 form-group position-relative">
                <label class="form-label" for="username" th:text="#{username}"></label>
                <div class="input-group">
                    <span aria-hidden="true" class="input-group-text" title="Username">
                        <i class="fa fa-user"></i>
                        <span class="sr-only" th:text="#{username}"></span>
                    </span>
                    <input name="username" id="username" type="text" th:placeholder="#{username}"
                           th:maxlength="${T(fim.unipassau.de.scratch1984.util.Constants).SMALL_FIELD}"
                           th:field="*{username}" th:class="${#fields.hasErrors('username')
                                   ? 'form-control is-invalid' : 'form-control'}" required/>
                </div>
                <div class="validation" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                <div class="form-text" th:text="#{username_max}"></div>
            </div>
            <!-- The checkbox controlling the numbers added to the username. -->
            <div class="mb-3 form-group position-relative">
                <div class="form-check mb-3">
                    <input name="startAtOne" id="startAtOne" class="form-check-input" type="checkbox" value=""
                           th:field="*{startAtOne}">
                    <label class="form-check-label" for="startAtOne" th:text="#{start_number}">
                    </label>
                </div>
                <div class="form-text" th:text="#{start_number_info}"></div>
            </div>
            <!-- The selection menu for the language. -->
            <div class="mb-3 form-group position-relative">
                <label class="form-label" for="language" th:text="#{language}"></label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i aria-hidden="true" class="fa fa-flag" title="Preferred language"></i>
                        <span class="sr-only" th:text="#{language}"></span>
                    </span>
                    <select id="language" class="form-select" th:aria-label="#{language}" th:field="*{language}">
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <option th:each="lang : ${T(fim.unipassau.de.scratch1984.web.dto.UserDTO.Language).values()}"
                                th:value="${lang}" th:text="#{${lang.toString().toLowerCase()}}"></option>
                    </select>
                </div>
            </div>
            <!-- The submit button. -->
            <div class="text-center">
                <input class="btn btn-primary" type="submit" th:value="#{submit}"/>
            </div>
        </form>
    </div>
</div>

<script>
    let amount = document.getElementById("amount");
    let value = document.getElementById("value");
    value.innerHTML = amount.value;

    amount.oninput = function() {
        value.innerHTML = this.value;
    }
</script>

<!-- Footer -->
<div th:insert="footer :: footer"></div>
</body>
</html>