<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{password_reset_title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Navigation bar -->
<header th:insert="~{header :: header}"></header>

<!-- Page content -->
<div class="container mt-4">
    <div class="card">

        <!-- The reset password heading. -->
        <div class="card-header">
            <h5 class="mb-0" th:text="#{reset_password}"></h5>
        </div>

        <!-- The information shown when resetting the password. -->
        <div class="row">
            <div class="col-12 mb-5" th:text="#{reset_password_info}"></div>
        </div>

        <div class="card-body">
            <!-- The form to reset the password. -->
            <!--/*@thymesVar id="userDTO" type="de.uni_passau.fim.se2.scratchlog.web.dto.UserDTO"*/-->
            <form th:action="@{/users/reset}" th:object="${userDTO}" th:name="userDTO" method="post">
                <!-- The input group for the username. -->
                <div class="mb-3 form-group position-relative">
                    <label class="form-label" for="username" th:text="#{username}"></label>
                    <div class="input-group">
                    <span aria-hidden="true" class="input-group-text" title="Username">
                        <i class="fa fa-user"></i>
                        <span class="visually-hidden" th:text="#{username}"></span>
                    </span>
                        <input name="username" id="username" type="text" th:placeholder="#{username}"
                               th:maxlength="${T(de.uni_passau.fim.se2.scratchlog.util.Constants).SMALL_FIELD}"
                               th:field="*{username}" th:class="${#fields.hasErrors('username')
                                   ? 'form-control is-invalid' : 'form-control'}" required/>
                    </div>
                    <div class="validation" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                    <div class="form-text" th:text="#{username_max}"></div>
                </div>
                <!-- The input group for the email address. -->
                <div class="mb-3 form-group position-relative">
                    <label class="form-label" for="email" th:text="#{email}"></label>
                    <div class="input-group">
                    <span class="input-group-text">
                        <i aria-hidden="true" class="fa fa-envelope" title="Email address"></i>
                        <span class="visually-hidden" th:text="#{email}"></span>
                    </span>
                        <input name="email" id="email" type="text" th:placeholder="#{email}"
                               th:maxlength="${T(de.uni_passau.fim.se2.scratchlog.util.Constants).LARGE_FIELD}"
                               th:field="*{email}" th:class="${#fields.hasErrors('email')
                                   ? 'form-control is-invalid' : 'form-control'}" required/>
                    </div>
                    <div class="validation" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
                <!-- The submit button. -->
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" th:value="#{submit}"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:insert="~{footer :: footer}"></div>
</body>
</html>
