<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{participant_title}"></title>
    <link rel="stylesheet" th:href="@{/design/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/design/all.min.css}">
    <link rel="stylesheet" th:href="@{/design/style.css}">
</head>
<body>
<!-- Navigation bar -->
<div th:insert="header :: header"></div>

<!-- Page content -->
<div class="row" id="content">
    <div class="col-2"></div>
    <div class="col-8">

        <!-- The error message shown at the top of the page when an error occurs. -->
        <!--suppress ThymeleafVariablesResolveInspection -->
        <div class="row" th:if="${error != null}">
            <!--suppress ThymeleafVariablesResolveInspection -->
            <div class="col-12 alert alert-danger" th:text="${error}"></div>
        </div>

        <!-- The change password heading. -->
        <h2 class="mb-5" th:text="#{change_password}"></h2>

        <!-- The form to change the password. -->
        <form th:action="@{/users/forgot}" th:object="${userDTO}" th:name="userDTO" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="row mx-5">
                <!-- The input group for the admin password. -->
                <div class="mb-3 form-group position-relative" sec:authorize="hasRole('ADMIN')">
                    <label class="form-label" for="password" th:text="#{password}"></label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i aria-hidden="true" class="fa fa-key" title="Enter password"></i>
                            <span class="sr-only" th:text="#{password}"></span>
                        </span>
                        <input name="password" id="password" type="password" th:placeholder="#{password}"
                               th:maxlength="${T(fim.unipassau.de.scratch1984.util.Constants).SMALL_FIELD}"
                               th:field="*{password}" th:class="${#fields.hasErrors('password')
                               ? 'form-control is-invalid' : 'form-control'}"/>
                    </div>
                    <div class="validation" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    <div class="d-flex justify-content-between">
                        <div class="form-text" th:text="#{password_current}"></div>
                    </div>
                </div>
                <!-- The input group for the new password. -->
                <div class="mb-3 form-group position-relative">
                    <label class="form-label" for="new_password" th:text="#{password_new}"></label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i aria-hidden="true" class="fa fa-certificate" title="Enter new password"></i>
                            <span class="sr-only" th:text="#{password_new}"></span>
                        </span>
                        <input name="password" id="new_password" type="password" th:placeholder="#{password_new}"
                               th:maxlength="${T(fim.unipassau.de.scratch1984.util.Constants).SMALL_FIELD}"
                               th:field="*{newPassword}" th:class="${#fields.hasErrors('newPassword')
                               ? 'form-control is-invalid' : 'form-control'}"/>
                    </div>
                    <div class="validation" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
                    <div class="form-text" th:text="#{password_max}"></div>
                </div>
                <!-- The input group for the password repetition. -->
                <div class="mb-5 form-group position-relative">
                    <label class="form-label" for="confirm_password" th:text="#{password_confirm}"></label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i aria-hidden="true" class="fa fa-certificate" title="Reenter new password"></i>
                            <span class="sr-only" th:text="#{password_confirm}"></span>
                        </span>
                        <input name="password" id="confirm_password" type="password" th:placeholder="#{password_confirm}"
                               th:maxlength="${T(fim.unipassau.de.scratch1984.util.Constants).SMALL_FIELD}"
                               th:field="*{confirmPassword}" th:class="${#fields.hasErrors('confirmPassword')
                               ? 'form-control is-invalid' : 'form-control'}"/>
                    </div>
                    <div class="validation" th:if="${#fields.hasErrors('confirmPassword')}"
                         th:errors="*{confirmPassword}"></div>
                    <div class="form-text" th:text="#{password_match}"></div>
                </div>
                <!-- The submit button. -->
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" th:value="#{submit}"/>
                </div>
            </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>

<!-- Footer -->
<div th:insert="footer :: footer"></div>
</body>
</html>