<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{password_set_title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Navigation bar -->
<header th:insert="~{header :: header}"></header>

<!-- Page content -->
<div class="container mt-4">
    <div class="card">

        <!-- The set password heading. -->
        <div class="card-header">
            <h5 class="mb-0" th:text="#{set_password}"></h5>
        </div>

        <div class="card-body">
            <!-- The form to set the password. -->
            <form th:action="@{/token/password(value=${token})}" th:object="${userDTO}" th:name="userDTO" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="row mx-5">
                    <!-- The input group for the new password. -->
                    <div class="mb-3 form-group position-relative">
                        <label class="form-label" for="password" th:text="#{password}"></label>
                        <div class="input-group">
                        <span class="input-group-text">
                            <i aria-hidden="true" class="fa fa-certificate" title="Enter a password"></i>
                            <span class="visually-hidden" th:text="#{password}"></span>
                        </span>
                            <input name="password" id="password" type="password" th:placeholder="#{password}"
                                   th:maxlength="${T(de.uni_passau.fim.se2.scratchlog.util.Constants).SMALL_FIELD}"
                                   th:field="*{password}" th:class="${#fields.hasErrors('password')
                               ? 'form-control is-invalid' : 'form-control'}"/>
                        </div>
                        <div class="validation" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        <div class="form-text" th:text="#{password_max}"></div>
                    </div>
                    <!-- The input group for the password repetition. -->
                    <div class="mb-5 form-group position-relative">
                        <label class="form-label" for="confirm_password" th:text="#{password_confirm}"></label>
                        <div class="input-group">
                        <span class="input-group-text">
                            <i aria-hidden="true" class="fa fa-certificate" title="Reenter the password"></i>
                            <span class="visually-hidden" th:text="#{password_confirm}"></span>
                        </span>
                            <input name="password" id="confirm_password" type="password" th:placeholder="#{password_confirm}"
                                   th:maxlength="${T(de.uni_passau.fim.se2.scratchlog.util.Constants).SMALL_FIELD}"
                                   th:field="*{confirmPassword}" th:class="${#fields.hasErrors('confirmPassword')
                               ? 'form-control is-invalid' : 'form-control'}"/>
                        </div>
                        <div class="validation" th:if="${#fields.hasErrors('confirmPassword')}"
                             th:errors="*{confirmPassword}"></div>
                        <div class="form-text" th:text="#{password_match}"></div>
                    </div>
                    <!-- The submit button. -->
                    <div class="text-center">
                        <input class="btn btn-primary" type="submit" th:value="#{submit}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:insert="~{footer :: footer}"></div>
</body>
</html>
