<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{profile_edit_title}"></title>
    <link rel="stylesheet" th:href="@{/design/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/design/all.min.css}">
    <link rel="stylesheet" th:href="@{/design/style.css}">
</head>
<body>
<!-- Navigation bar -->
<header th:insert="~{header :: header}"></header>

<!-- Page content -->
<div class="row" id="content">
    <div class="inside">

        <!-- The profile edit page heading. -->
        <h2 class="mb-5" th:text="#{edit_profile}"></h2>

        <!-- The form for editing a profile. -->
        <form th:action="@{/users/update}" th:object="${userDTO}" th:name="userDTO" method="post">
            <input type="hidden" th:field="*{id}">
            <!-- The set password button. -->
            <div class="text-end" th:if="${userDTO.password == null}" sec:authorize="hasRole('ADMIN')">
                <a class="btn btn-secondary" th:text="#{set_password}" th:href="@{/users/forgot(id=${userDTO.id})}"></a>
            </div>
            <!-- The input group for the username. -->
            <div class="mb-3 form-group position-relative" sec:authorize="hasRole('ADMIN')">
                <label class="form-label" for="username" th:text="#{username}"></label>
                <div class="input-group">
                    <span aria-hidden="true" class="input-group-text" title="Username">
                        <i class="fa fa-user"></i>
                        <span class="sr-only" th:text="#{username}"></span>
                    </span>
                    <input name="username" id="username" type="text" th:placeholder="#{username}"
                           th:maxlength="${T(fim.unipassau.de.scratch1984.util.Constants).SMALL_FIELD}"
                           th:field="*{username}" th:class="${#fields.hasErrors('username')
                                   ? 'form-control is-invalid' : 'form-control'}" required/>
                </div>
                <div class="validation" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                <div class="form-text" th:text="#{username_max}"></div>
            </div>
            <!-- The input group for the email. -->
            <div class="mb-3 form-group position-relative">
                <label class="form-label" for="email" th:text="#{email}"></label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i aria-hidden="true" class="fa fa-envelope" title="Email address"></i>
                        <span class="sr-only" th:text="#{email}"></span>
                    </span>
                    <input name="email" id="email" type="text" th:placeholder="#{email}"
                           th:maxlength="${T(fim.unipassau.de.scratch1984.util.Constants).LARGE_FIELD}"
                           th:field="*{email}" th:class="${#fields.hasErrors('email')
                                   ? 'form-control is-invalid' : 'form-control'}"/>
                </div>
                <div class="validation" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <!-- The input group for the language. -->
            <div class="mb-3 form-group position-relative">
                <label class="form-label" for="language" th:text="#{language}"></label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i aria-hidden="true" class="fa fa-flag" title="Preferred language"></i>
                        <span class="sr-only" th:text="#{language}"></span>
                    </span>
                    <select id="language" class="form-select" th:aria-label="#{language}" th:field="*{language}">
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <option th:each="lang : ${T(fim.unipassau.de.scratch1984.util.enums.Language).values()}"
                                th:value="${lang}" th:text="#{${lang.toString().toLowerCase()}}"></option>
                    </select>
                </div>
            </div>
            <!-- The input group for the current password. -->
            <div class="mb-3 form-group position-relative" th:unless="${userDTO.password == null}">
                <label class="form-label" for="password" th:text="#{password}"></label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i aria-hidden="true" class="fa fa-key" title="Current password"></i>
                        <span class="sr-only" th:text="#{password}"></span>
                    </span>
                    <input name="password" id="password" type="password" th:placeholder="#{password}"
                           th:maxlength="${T(fim.unipassau.de.scratch1984.util.Constants).SMALL_FIELD}"
                           th:field="*{password}" th:class="${#fields.hasErrors('password')
                               ? 'form-control is-invalid' : 'form-control'}"/>
                </div>
                <div class="validation" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                <div class="d-flex justify-content-between">
                    <div class="form-text" th:text="#{password_info}"></div>
                    <a class="link-secondary" th:text="#{forgot_password}" th:href="@{/users/forgot(id=${userDTO.id})}"
                       th:if="${userDTO.getRole().equals(T(fim.unipassau.de.scratch1984.util.enums.Role).PARTICIPANT)}"
                       sec:authorize="hasRole('ADMIN')">
                    </a>
                </div>
            </div>
            <!-- The input group for the new password. -->
            <div class="mb-3 form-group position-relative" th:unless="${userDTO.password == null}">
                <label class="form-label" for="new_password" th:text="#{password_new}"></label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i aria-hidden="true" class="fa fa-certificate" title="Enter new password"></i>
                        <span class="sr-only" th:text="#{password_new}"></span>
                    </span>
                    <input name="password" id="new_password" type="password" th:placeholder="#{password_new}"
                           th:maxlength="${T(fim.unipassau.de.scratch1984.util.Constants).SMALL_FIELD}"
                           th:field="*{newPassword}" th:class="${#fields.hasErrors('newPassword')
                               ? 'form-control is-invalid' : 'form-control'}"/>
                </div>
                <div class="validation" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
                <div class="form-text" th:text="#{password_max}"></div>
            </div>
            <!-- The input group for the password repetition. -->
            <div class="mb-5 form-group position-relative" th:unless="${userDTO.password == null}">
                <label class="form-label" for="confirm_password" th:text="#{password_confirm}"></label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i aria-hidden="true" class="fa fa-certificate" title="Reenter new password"></i>
                        <span class="sr-only" th:text="#{password_confirm}"></span>
                    </span>
                    <input name="password" id="confirm_password" type="password" th:placeholder="#{password_confirm}"
                           th:maxlength="${T(fim.unipassau.de.scratch1984.util.Constants).SMALL_FIELD}"
                           th:field="*{confirmPassword}" th:class="${#fields.hasErrors('confirmPassword')
                               ? 'form-control is-invalid' : 'form-control'}"/>
                </div>
                <div class="validation" th:if="${#fields.hasErrors('confirmPassword')}"
                     th:errors="*{confirmPassword}"></div>
                <div class="form-text" th:text="#{password_match}"></div>
            </div>
            <!-- The submit button. -->
            <div class="text-center">
                <input class="btn btn-primary" type="submit" th:value="#{save}"/>
            </div>
        </form>
    </div>
</div>

<!-- Footer -->
<div th:insert="~{footer :: footer}"></div>
</body>
</html>
