<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{profile_title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Navigation bar -->
<header th:insert="~{header :: header}"></header>

<!-- Page content -->
<div class="container mb-4 mt-4">

    <!-- Profile Actions card -->
    <div class="card mb-4">
        <div class="bg-holder d-md block bg-card"
             style="background-image: url(/img/corner-4.png)"></div>
        <div class="card-body d-flex justify-content-between align-items-center">
            <div>
                <h1 class="mb-3 h2">
                    <span th:text="#{profile_of}"></span> <span th:text="${userDTO.username}"></span>
                </h1>
                <span th:if="${userDTO.role == T(de.uni_passau.fim.se2.scratchlog.util.enums.Role).ADMIN}"
                      th:text="#{admin}" class="text-danger"></span>
            </div>
            <div style="z-index: 1">
                <a class="btn btn-primary me-2" th:text="#{edit}" th:href="@{/users/edit(name=${userDTO.username})}"
                   sec:authorize="hasRole('PARTICIPANT')"></a>
                <input id="openDeleteUserModal" class="btn btn-danger" type="submit" th:value="#{delete}"
                       sec:authorize="hasRole('ADMIN')">
            </div>
        </div>
    </div>

    <!-- Status Card -->
    <div class="card mb-4">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div>
                <i th:class="${userDTO.active} ? 'fa fa-lock-open text-success fa-2x' : 'fa fa-lock text-danger fa-2x'" aria-hidden="true"></i>
                <span class="ms-2" th:text="${userDTO.active} ? #{activated} : #{inactive}"></span>
            </div>
            <div sec:authorize="hasRole('ADMIN')">
                <a class="btn btn-primary" th:text="${userDTO.active} ? #{deactivate} : #{activate}"
                   th:href="@{/users/active(id=${userDTO.id})}"></a>
            </div>
        </div>
    </div>

    <!-- Alerts Card -->
    <div th:if="${param.invalid != null || param.update != null || param.lastAdmin != null}" class="card mb-4">
        <div class="card-body">
            <div th:if="${param.invalid != null}" class="alert alert-danger" th:text="#{invalid_password}"></div>
            <div th:if="${param.update != null}" class="alert alert-warning" th:text="#{change_email_verify}"></div>
            <div th:if="${param.lastAdmin != null}" class="alert alert-danger" th:text="#{delete_last_admin}"></div>
        </div>
    </div>

    <!-- Profile Information Card -->
    <div class="card mb-4">
        <div class="card-header">
            <h5 class="mb-0" th:text="#{profile_info}"></h5>
        </div>

        <div class="card-body">
            <!-- Username Information -->
            <div class="row mb-3">
                <div class="col-auto">
                    <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
                </div>
                <div class="col">
                    <div class="fs-5" th:text="${userDTO.username}"></div>
                    <div class="text-muted" th:text="#{username}"></div>
                </div>
            </div>

            <!-- Email Information -->
            <div class="row mb-3">
                <div class="col-auto">
                    <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
                </div>
                <div class="col">
                    <div th:if="${userDTO.email != null}" class="fs-5" th:text="${userDTO.email}"></div>
                    <div th:unless="${userDTO.email != null}" class="text-muted" th:text="#{no_email}"></div>
                    <div class="text-muted" th:text="#{email}"></div>
                </div>
            </div>

            <!-- Language Information -->
            <div class="row mb-3">
                <div class="col-auto">
                    <i class="fa fa-flag fa-3x" aria-hidden="true"></i>
                </div>
                <div class="col">
                    <div class="fs-5" th:text="${language}"></div>
                    <div class="text-muted" th:text="#{language}"></div>
                </div>
            </div>
        </div>
    </div>

        <!-- The administrator profile information. -->
        <!--suppress ThymeleafVariablesResolveInspection -->
<!--        <div class="row mb-5" th:if="${userDTO.role == T(de.uni_passau.fim.se2.scratchlog.util.enums.Role).ADMIN}">-->
<!--            <div class="text-danger fs-5" th:text="#{admin}"></div>-->
<!--        </div>-->

    <!-- Experiments Card -->
    <div class="card mb-4" th:if="${userDTO.role == T(de.uni_passau.fim.se2.scratchlog.util.enums.Role).PARTICIPANT}">
        <div class="card-header">
            <h5 class="mb-0" th:text="#{experiments}"></h5>
        </div>

        <div class="card-body">
            <ul class="list-group" th:if="${experiments.isEmpty()}">
                <li class="list-group-item" th:text="#{table_empty}"></li>
            </ul>
            <ul class="list-group" th:unless="${experiments.isEmpty()}">
                <li class="list-group-item" th:each="experiment : ${experiments}">
                    <a class="d-flex justify-content-between text-dark" th:href="@{/experiment(id=${experiment.key})}">
                        <span th:text="${experiment.value}"></span>
                        <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>

<!-- The popup dialog to delete the user. -->
<div id="deleteUserModal" class="modal" sec:authorize="hasRole('ADMIN')">
    <div class="modal-content">
        <h2 th:text="#{delete_user}"></h2>
        <div class="mb-3" th:text="#{delete_user_warn}"></div>
        <form th:action="@{/users/delete}" th:object="${passwordDTO}" th:name="passwordDTO" method="post">
            <input type="hidden" name="id" th:value="${userDTO.id}"/>
            <div class="col-12 mb-5 form-group position-relative">
                <label class="form-label" for="password" th:text="#{password}"></label>
                <div class="input-group">
                        <span class="input-group-text">
                            <i aria-hidden="true" class="fa fa-key" title="Enter password"></i>
                            <span class="visually-hidden" th:text="#{password}"></span>
                        </span>
                    <input th:name="password" id="password" type="password" th:placeholder="#{password}"
                           th:maxlength="${T(de.uni_passau.fim.se2.scratchlog.util.Constants).SMALL_FIELD}"
                           th:field="*{password}" th:class="${#fields.hasErrors('password')
                               ? 'form-control is-invalid' : 'form-control'}" required/>
                </div>
                <div class="validation" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <div class="d-flex justify-content-between">
                <a id="abort" class="btn btn-secondary" th:text="#{abort}"></a>
                <input class="btn btn-danger" type="submit" th:value="#{delete}">
            </div>
        </form>
    </div>
</div>

<!-- Script to open and close the delete modal. -->
<script>
    let deleteUserModal = document.getElementById("deleteUserModal");
    let deleteUserModalOpenButton = document.getElementById("openDeleteUserModal");

    let abort = document.getElementById("abort");
    if (deleteUserModalOpenButton) {
        deleteUserModalOpenButton.onclick = function () {
            let content = document.getElementById("content");
            deleteUserModal.style.display = "block";
            content.style.filter = "blur(4px)";
        }
    }
    if (abort) {
        abort.onclick = function () {
            let content = document.getElementById("content");
            deleteUserModal.style.display = "none";
            content.style.filter = "none";
        }
    }
</script>

<!-- Footer -->
<div th:insert="~{footer :: footer}"></div>
</body>
</html>
