<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{search_title}"></title>
    <link rel="stylesheet" th:href="@{/design/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/design/all.min.css}">
    <link rel="stylesheet" th:href="@{/design/style.css}">
</head>
<body>
<!-- Navigation bar -->
<div th:insert="header :: header"></div>

<!-- Page content -->
<div class="row" id="content">
    <div class="col-2"></div>
    <div class="col-8">

        <!-- The search page heading. -->
        <h2 class="mb-3" th:text="#{search_results}"></h2>

        <!-- The information shown on the search page. -->
        <div class="row">
            <div class="col-12 mb-3" th:text="#{search_info}"></div>
        </div>

        <!-- The tabs to switch between experiment and user results. -->
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-user-tab" data-bs-toggle="tab" data-bs-target="#nav-user"
                        type="button" role="tab" aria-controls="nav-user" aria-selected="true" th:text="#{search_user}">
                </button>
                <button class="nav-link" id="nav-experiment-tab" data-bs-toggle="tab" data-bs-target="#nav-experiment"
                        type="button" role="tab" aria-controls="nav-experiment" aria-selected="false"
                        th:text="#{search_experiment}"></button>
            </div>
        </nav>

        <!-- The tab content containing the search results. -->
        <div class="tab-content" id="nav-tabContent">
            <!-- The tab content containing the user search results. -->
            <div class="tab-pane fade show active" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" th:text="#{username}"></th>
                        <th scope="col" th:text="#{email}"></th>
                        <th scope="col" th:text="#{role}"></th>
                    </tr>
                    </thead>
                    <tbody th:if="${users.isEmpty()}">
                    <tr>
                        <td colspan="4" th:text="#{table_empty}"></td>
                    </tr>
                    </tbody>
                    <tbody th:unless="${users.isEmpty()}" id="userBody">
                    <tr th:each="user : ${users}">
                        <th scope="row">
                            <a class="no_decoration" th:href="@{/users/profile(name=${user.username})}"
                               th:text="${user.id}"></a>
                        </th>
                        <td>
                            <a class="no_decoration" th:href="@{/users/profile(name=${user.username})}"
                               th:text="${user.username}"></a>
                        </td>
                        <td>
                            <a class="no_decoration" th:href="@{/users/profile(name=${user.username})}"
                               th:text="${user.email}"></a>
                        </td>
                        <td>
                            <a class="no_decoration" th:href="@{/users/profile(name=${user.username})}"
                               th:text="${user.role}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center mb-2">
                    <span th:text="#{elements}"></span>
                    <span th:text="${userCount}"></span>
                </div>
                <div class="text-center" id="userButton" th:if="${userCount > limit}">
                    <a id="userResults" class="btn btn-outline-dark" th:aria-label="#{search_result_label}">
                        <i aria-hidden="true" class="fas fa-angle-down"></i>
                    </a>
                </div>
            </div>
            <!-- The tab content containing the experiment search results. -->
            <div class="tab-pane fade" id="nav-experiment" role="tabpanel" aria-labelledby="nav-experiment-tab">
                <table class="table table-hover mt-2">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" th:text="#{title}"></th>
                        <th scope="col" th:text="#{description}"></th>
                    </tr>
                    </thead>
                    <tbody th:if="${experiments.isEmpty()}">
                    <tr>
                        <td colspan="3" th:text="#{table_empty}"></td>
                    </tr>
                    </tbody>
                    <tbody th:unless="${experiments.isEmpty()}" id="experimentBody">
                    <tr th:each="experiment : ${experiments}">
                        <th scope="row">
                            <a class="no_decoration" th:href="@{/experiment(id=${experiment.id})}"
                               th:text="${experiment.id}"></a>
                        </th>
                        <td>
                            <a class="no_decoration" th:href="@{/experiment(id=${experiment.id})}"
                               th:text="${experiment.title}"></a>
                        </td>
                        <td>
                            <a class="no_decoration" th:href="@{/experiment(id=${experiment.id})}"
                               th:text="${experiment.description}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center mb-2">
                    <span th:text="#{elements}"></span>
                    <span th:text="${experimentCount}"></span>
                </div>
                <div class="text-center" id="experimentButton" th:if="${experimentCount > limit}">
                    <a id="experimentResults" class="btn btn-outline-dark" th:aria-label="#{search_result_label}">
                        <i aria-hidden="true" class="fas fa-angle-down"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

<!-- Let Thymeleaf initialize the total user count, experiment count and the page size. -->
<script>
    const userCount = [[${userCount}]];
    const experimentCount = [[${experimentCount}]];
    const pageSize = [[${T(fim.unipassau.de.scratch1984.util.Constants).PAGE_SIZE}]];
</script>

<!-- Script to fetch the search results. -->
<script type="text/javascript" th:src="@{/js/searchResults.js}"></script>

<!-- Footer -->
<div th:insert="footer :: footer"></div>
</body>
</html>