<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{secret_title}"></title>
    <link rel="stylesheet" th:href="@{/design/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/design/all.min.css}">
    <link rel="stylesheet" th:href="@{/design/style.css}">
</head>
<body>
<!-- Navigation bar -->
<header th:insert="header :: header"></header>

<!-- Page content -->
<div class="row" id="content">
    <div class="inside" sec:authorize="hasRole('ADMIN')">
        <!-- The page title. -->
        <h2 th:text="#{secrets}"></h2>

        <!-- The button to return to the corresponding experiment page. -->
        <div class="row mb-3">
            <div class="col-12 text-end">
                <a class="btn btn-secondary" th:href="@{/experiment(id=${experiment})}">
                    <span th:text="#{experiment_return}"></span>
                </a>
            </div>
        </div>

        <!-- The table of users for whom new secrets have been created. -->
        <div class="row">
            <div class="col-12 text-muted" th:text="#{secret_info}"></div>
            <!-- The table containing the user information. -->
            <div class="table-container">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" th:text="#{username}"></th>
                        <th class="text-center" scope="col" th:text="#{secret_link}"></th>
                        <th class="text-center" scope="col" th:text="#{download_link}"></th>
                    </tr>
                    </thead>
                    <tbody th:if="${users.isEmpty()}">
                    <tr>
                        <td colspan="4" th:text="#{table_empty}"></td>
                    </tr>
                    </tbody>
                    <tbody th:unless="${users.isEmpty()}">
                    <tr th:each="user : ${users}">
                        <th scope="row">
                            <a class="no_decoration" th:href="@{/users/profile(name=${user.username})}"
                               th:text="${user.id}"></a>
                        </th>
                        <td>
                            <a class="no_decoration" th:href="@{/users/profile(name=${user.username})}"
                               th:text="${user.username}"></a>
                        </td>
                        <td class="text-center" th:text="${link} + ${user.secret}"></td>
                        <td class="text-center">
                            <a class="no_decoration" th:aria-label="#{secret_label}"
                               th:href="@{/secret/csv(experiment=${experiment}, user=${user.id})}">
                                <i aria-hidden="true" class="fas fa-download"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- The information to be displayed when the experiment is not active. -->
        <div class="row" th:if="${inactive != null}">
            <div class="col-12 text-muted" th:text="#{experiment_inactive}"></div>
        </div>

        <!-- The button to download all participant links for the given experiment. -->
        <div class="row" th:if="${users.size() > 1}">
            <div class="col-12 text-center">
                <a class="btn btn-primary" th:href="@{/secret/csv(experiment=${experiment})}">
                    <i aria-hidden="true" class="fas fa-download fa-inverse" title="Download CSV file"></i>
                    <span th:text="#{csv}"></span>
                    <span class="sr-only" th:text="#{download}"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:insert="footer :: footer"></div>
</body>
</html>