<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{add_users_bulk_title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Navigation bar -->
<header th:insert="~{header :: header}"></header>

<!-- Page content -->
<div class="container mt-4 mb-4">
    <div class="card">
        <!-- The 'add users in bulk' page heading. -->
        <div class="card-header">
            <h5 class="mb-0" th:text="#{add_users_bulk}"></h5>
        </div>

        <div class="card-body p-5">
            <!-- The error message shown when some users couldn't be added. -->
            <div class="row" th:if="${error != null}">
                <div class="col-12 alert alert-warning">
                    <div th:text="#{names_exists}"></div>
                    <div th:text="${error}"></div>
                </div>
            </div>


            <!-- The information shown on the 'add users in bulk' page -->
            <div class="row">
                <div class="col-12 mb-4" th:text="#{add_users_bulk_info}"></div>
            </div>

            <!-- The form for adding new users in bulk. -->
            <!--/*@thymesVar id="userBulkDTO" type="de.uni_passau.fim.se2.scratchlog.web.dto.UserBulkDTO"*/-->
            <form th:action="@{/users/bulk}" th:object="${userBulkDTO}" th:name="userBulkDTO" method="post">
                <!-- The input group for the range. -->
                <!--/*@thymesVar id="applicationConfig" type="de.uni_passau.fim.se2.scratchlog.util.ApplicationProperties"*/-->
                <div class="mb-3 form-group">
                    <label class="form-label" for="amount" th:text="#{add_users_bulk_amount}"></label>
                    <div class="input-group">
                        <span aria-hidden="true" class="input-group-text" title="Amount">
                                <i class="fa fa-hashtag"></i>
                                <span class="visually-hidden" th:text="#{username}"></span>
                        </span>
                        <input name="amount" id="amount" type="number" class="form-control" th:field="*{amount}" min="1"
                               th:max="${applicationConfig.maxUserBulkImportCount}"/>
                    </div>
                    <div class="form-text"
                         th:text="#{add_users_bulk_amount_info(${applicationConfig.maxUserBulkImportCount})}"></div>
                </div>

                <!-- The input group for the username pattern. -->
                <div class="mb-3 form-group">
                    <label class="form-label" for="username" th:text="#{username}"></label>
                    <div class="input-group">
                        <span aria-hidden="true" class="input-group-text" title="Username">
                            <i class="fa fa-user"></i>
                            <span class="visually-hidden" th:text="#{username}"></span>
                        </span>
                        <input name="username" id="username" type="text" th:placeholder="#{username}"
                               th:maxlength="${T(de.uni_passau.fim.se2.scratchlog.util.Constants).SMALL_FIELD}"
                               th:field="*{username}" th:class="${#fields.hasErrors('username')
                                   ? 'form-control is-invalid' : 'form-control'}" required/>
                    </div>
                    <div class="validation" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                    <div class="form-text" th:text="#{username_max}"></div>
                </div>

                <!-- The checkbox controlling the numbers added to the username. -->
                <div class="mb-3 form-group">
                    <div class="form-check mb-3">
                        <input name="startAtOne" id="startAtOne" class="form-check-input" type="checkbox" value=""
                               th:field="*{startAtOne}">
                        <label class="form-check-label" for="startAtOne" th:text="#{start_number}">
                        </label>
                    </div>
                    <div class="form-text" th:text="#{start_number_info}"></div>
                </div>

                <!-- The selection menu for the language. -->
                <div class="mb-3 form-group">
                    <label class="form-label" for="language" th:text="#{language}"></label>
                    <div class="input-group">
                    <span class="input-group-text">
                        <i aria-hidden="true" class="fa fa-flag" title="Preferred language"></i>
                        <span class="visually-hidden" th:text="#{language}"></span>
                    </span>
                        <select id="language" class="form-select" th:aria-label="#{language}" th:field="*{language}">
                            <!--suppress ThymeleafVariablesResolveInspection -->
                            <option th:each="lang : ${T(de.uni_passau.fim.se2.scratchlog.util.enums.Language).values()}"
                                    th:value="${lang}" th:text="#{${lang.toString().toLowerCase()}}"></option>
                        </select>
                    </div>
                </div>

                <!-- The submit button. -->
                <div class="text-center mt-4">
                    <input class="btn btn-primary" type="submit" th:value="#{submit}"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:insert="~{footer :: footer}"></div>
</body>
</html>
